// ButtonComponent styles
.btn {
  --tblr-btn-line-height: 1.5;

  &:disabled {
    border-color: var(--tblr-btn-border-color);
    background-color: var(--tblr-btn-bg);
  }

  &-tiny {
    --tblr-btn-font-size: 12px;
    --tblr-btn-padding-x: 8px;
    --tblr-btn-padding-y: 4px;

    .icon {
      --tblr-btn-icon-size: 15px;
    }
  }

  &-small {
    --tblr-btn-font-size: 14px;
    --tblr-btn-padding-x: 9px;
    --tblr-btn-padding-y: 4.5px;

    .icon {
      --tblr-btn-icon-size: 17px;
    }
  }

  &-medium {
    --tblr-btn-font-size: 16px;
    --tblr-btn-padding-x: 14px;
    --tblr-btn-padding-y: 7px;

    .icon {
      --tblr-btn-icon-size: 20px;
    }
  }

  .icon,
  .avatar {
    margin: unset;
  }
}

// TextInputComponent styles
.text-input-component {
  &-default {
    border-radius: 4px;
  }

  &-subscript {
    font-size: 14px;
    line-height: 1.5;
  }

  &-tiny {
    padding: 4px 8px;
    font-size: 12px;
  }

  &-small {
    padding: 4.5px 9px;
    font-size: 14px;
  }

  &-medium {
    padding: 7px 14px;
    font-size: 16px;
  }

  &-disabled {
    background-color: var(--tblr-gray-200);
  }

  &-disabled:focus {
    background-color: var(--tblr-gray-200);
  }
}

// LabelComponent styles
.label-component {
  $sizes:
    small 14px,
    medium 16px;

  @each $name, $size in $sizes {
    &-#{$name} {
      font-size: $size !important;
      line-height: 1.5 !important;
    }
  }
}

// PrettyNumberComponent styles
.pretty-number-component {
  &:after {
    content: "\00a0";
  }
}

// SelectComponent styles
.select-component {
  // Bootstrap 5 does not support the `btn-group-xs` size.
  // Used in case of a select component with the `dropdown_buttons` plugin for the `selectize` library.
  .btn-group-xs button {
    --tblr-btn-font-size: 12px;
    --tblr-btn-padding-x: 8px;
    --tblr-btn-padding-y: 4px;
  }

  .selectize-input {
    border-radius: 4px !important;
    vertical-align: middle; // Fix the height of the component.

    &.locked {
      opacity: 1 !important;
    }

    &.disabled {
      cursor: default !important;
    }

    input {
      @extend .text-truncate;
      cursor: text !important;
    }
  }

  // Start of sizes.
  &.tiny {
    --select_component_font_size: 12px;
    --select_component_min_height: 28px;

    .selectize-input {
      min-height: var(--select_component_min_height) !important;
      padding: 4px 8px !important;
      font-size: var(--select_component_font_size);

      &:before {
        height: var(--select_component_font_size);
        width: var(--select_component_font_size);
      }
    }
  }

  &.small {
    --select_component_font_size: 14px;
    --select_component_min_height: 32px;

    .selectize-input {
      min-height: var(--select_component_min_height) !important;
      padding: 4.5px 9px !important;
      font-size: var(--select_component_font_size);

      &:before {
        height: var(--select_component_font_size);
        width: var(--select_component_font_size);
      }
    }
  }

  &.medium {
    --select_component_font_size: 16px;
    --select_component_min_height: 40px;

    .selectize-input {
      min-height: var(--select_component_min_height) !important;
      padding: 7px 14px !important;
      font-size: var(--select_component_font_size);

      &:before {
        height: var(--select_component_font_size);
        width: var(--select_component_font_size);
      }
    }
  }
  // End of sizes.

  // Start of types.
  &.single {
    width: 100%;

    .selectize-input {
      // Prevent displaying an additional empty line when selecting the long option.
      overflow: clip;
      white-space: nowrap;

      .item {
        vertical-align: top;
        @extend .text-truncate;
      }
    }
  }

  &.multiple {
    @extend .single;

    // Add an ellipsis if there is more than 1 selected item.
    .selectize-input:has(.item:nth-of-type(2)) {
      text-overflow: ellipsis;
    }

    .item {
      padding: 0 !important;
      margin: 0rem !important;

      &:not(:first-child):before {
        content: ", ";
      }
    }
  }

  &.pill {
    .items {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
    }

    .item {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      margin: 0rem !important;
      border-radius: 4px !important;

      .remove {
        border: none !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }
  }

  &.html {
    .selectize-input {
      .item {
        max-width: 100%;
      }
    }
    @extend .single;
  }
  // End of types.

  // There are no custom styles for the html select component yet.
}

// The select component dropdown could be anchored to the page body.
// In this case we moved the dropdown styles out of the `.select-component` class.
.selectize-dropdown {
  border-radius: 4px;
  box-shadow: none !important;

  .option {
    font-size: var(--select_component_font_size);
  }

  .selectize-dropdown-content {
    max-height: 200px;
  }

  .selectize-dropdown-emptyoptionlabel {
    text-align: left;
    height: var(--select_component_min_height);
  }
}

.icon-component {
  $sizes:
    tiny 15px,
    small 17px,
    medium 20px,
    large 29px;

  @each $name, $size in $sizes {
    &.icon-component-#{$name} {
      --tblr-icon-size: #{$size};
      --tblr-btn-icon-size: #{$size};
    }
  }
}

.icon-button-component {
  @extend .btn;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  --tblr-box-shadow-input: none;

  &.ghost {
    border: 1px solid transparent;
    background-color: transparent;
    color: $gray-600;

    &:hover {
      --bs-btn-focus-box-shadow: 0 0 0 0 transparent;
      color: $gray-900;
    }

    &:active {
      background-color: transparent;
      border-color: transparent;
    }

    &:focus {
      color: $gray-900;
      box-shadow: 0 0 0 0.25rem rgba(28, 109, 208, 0.25);
    }
  }

  $sizes:
    tiny 15px 5.5px,
    small 17px 6.5px,
    medium 20px 9px;

  @each $name, $size, $padding in $sizes {
    &.icon-#{$name} {
      // size of the icon + padding * 2 (both side) + border width (each 1px)
      $button-size: calc($size + ($padding * 2) + 2px);
      width: $button-size;
      height: $button-size;
      padding: $padding;
    }
  }
}
