// This file contains everything that can't be properly categorized.

.small-avatar-thumbnail {
  @extend .rounded;
  height: 2rem;
  width: 2rem;
}

.list-reset {
  padding-left: 0;
  list-style: none;
}

.fa-loader {
  @extend .text-secondary;
}
