// This file contains everything that can't be properly categorized.

.small-avatar-thumbnail {
  @extend .rounded;
  max-height: 2rem;
  width: 2rem;
}

.list-reset {
  padding-left: 0;
  list-style: none;
}
