#navbar-toggler {
  max-width: 100%;
}

body {
  padding-top: $navbar-min-height;
}

@include media-breakpoint-down(lg) {
  nav.header {
    #navbarNav.show {
      max-height: calc(100vh - $navbar-min-height);
    }
  }
}

.navbar {
  --tblr-navbar-padding-x: 1.5rem;
}
