#profile {
  .links-row {
    .linkedin-icon {
      color: $linkedin-blue;
    }
    .github-icon {
      color: $github-black;
    }
    .facebook-icon {
      color: $facebook-blue;
    }
    .twitter-icon {
      color: $twitter-black;
    }
    .vk-icon {
      color: $vk-blue;
    }
    .skype-icon {
      color: $skype-color;
    }
    .telegram-icon {
      color: $telegram-color;
    }
  }

  .accordion {
    --tblr-accordion-bg: #ffffff;
  }
}

#notes,
.notes-block {
  :target,
  .modal-note-active {
    box-shadow: 0px 0px 0px 4px #e4f1ff;
  }
}

.profile-avatar-overlay {
  --overlay-bg-color: rgba(19, 19, 19, 0.92);

  position: absolute;
  height: 36px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--tblr-alert-bg, var(--overlay-bg-color));
  color: var(--tblr-alert-color, #fff);
  @extend .font-small;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#scorecard-form {
  .score-btn {
    @extend .form-selectgroup-label, .py-1, .px-2;
  }

  $scorecard:
    irrelevant --tblr-red --tblr-red,
    relevant --tblr-red-300 --tblr-red,
    good --tblr-green-300 --tblr-green,
    perfect --tblr-green --tblr-green;

  @each $name, $bg-color, $border-color in $scorecard {
    .#{$name}-score {
      border-color: var($border-color) !important;
      background-color: var(--tblr-white);
      color: var(--tblr-body-color);
      .icon {
        color: var($bg-color);
      }
    }

    .#{$name}-score-input:checked + .#{$name}-score {
      background-color: var($bg-color);
      color: var(--tblr-white);
      .icon {
        color: inherit;
      }
    }
  }
}
