#profile {
  .links-row {
    .linkedin-icon {
      color: $linkedin-blue;
    }
    .github-icon {
      color: $github-black;
    }
    .facebook-icon {
      color: $facebook-blue;
    }
    .twitter-icon {
      color: $twitter-black;
    }
    .vk-icon {
      color: $vk-blue;
    }
    .skype-icon {
      color: $skype-color;
    }
    .telegram-icon {
      color: $telegram-color;
    }
  }

  .accordion {
    --tblr-accordion-active-bg: #{$gray-100};
  }
}

.empty-avatar-icon {
  color: $gray-600;
}

#notes,
.notes-block {
  :target,
  .modal-note-active {
    box-shadow: 0px 0px 0px 4px #e4f1ff;
  }
}
