#profile {
  .links-row {
    .linkedin-icon {
      color: $linkedin-blue;
    }
    .github-icon {
      color: $github-black;
    }
    .facebook-icon {
      color: $facebook-blue;
    }
    .twitter-icon {
      color: $twitter-black;
    }
    .vk-icon {
      color: $vk-blue;
    }
    .skype-icon {
      color: $skype-color;
    }
    .telegram-icon {
      color: $telegram-color;
    }
  }

  .accordion {
    --tblr-accordion-bg: #ffffff;
  }
}

#notes {
  :target,
  .modal-note-active {
    box-shadow: 0px 0px 0px 4px #e4f1ff;
  }

  &.task-notes {
    .card,
    .card-body,
    .card-footer {
      background-color: var(--tblr-modal-bg);
    }

    .list-group-item.note {
      &:active,
      &:hover,
      &:focus {
        background-color: var(--tblr-modal-bg);
      }
    }
  }

  &:not(.task-notes) {
    .card,
    .card-body,
    .card-footer {
      background-color: var(--tblr-body-bg);
    }

    .list-group-item.note {
      &:active,
      &:hover,
      &:focus {
        background-color: var(--tblr-body-bg);
      }
    }
  }

  .card {
    border: 0;

    .card-title {
      margin-bottom: 0.5rem;
    }

    .card-body {
      padding: 0;
    }

    .card-footer {
      border-top: 0;
      padding: 0.5rem 0 0 0;
      text-align: end;
    }
  }

  .list-group-item.note {
    padding: 0;
    border: 0;
    margin-top: 0.5rem;
  }
}

.profile-avatar-overlay {
  --overlay-bg-color: rgba(19, 19, 19, 0.92);

  position: absolute;
  height: 36px;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--tblr-alert-bg, var(--overlay-bg-color));
  color: var(--tblr-alert-color, #fff);
  @extend .font-small;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.placement-buttons {
  .btn-group {
    &:first-child {
      button {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
    }
    &:nth-child(2):not(:last-child) {
      button {
        border-radius: 0px;
      }
    }
    &:last-child {
      button {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
  }
}
