// In order to override imported css file, all values should have !important flag.
// So far I don't know how to import scss file, see
// https://github.com/selectize/selectize.js/issues/1614.
@import "selectize/dist/css/selectize.bootstrap5";

.selectize-input {
  border-color: $gray-500;
  input[placeholder] {
    width: inherit !important;
  }
}

.select-in-applicant-profile {
  .selectize-input,
  .filter-option-inner {
    min-height: 40px !important;
    line-height: 1.5 !important;
  }
  &.selectize-control .selectize-input {
    padding: 7px 14px;
    border-radius: 0.25rem;
  }
  .selectpicker-button {
    &:not(textarea) {
      height: 40px;
    }
  }
}

.selectize-control > .selectize-input {
  cursor: text !important;
  &::after {
    // Remove default arrow.
    content: none !important;
  }
}

.selectize-badge-dark-grey {
  .item {
    background-color: #ffffff !important;
    border: 1px solid $gray-900 !important;
    border-radius: 4px !important;
    color: $gray-900 !important;
    font-size: 0.75rem !important;
    margin: 2px !important;
    line-height: 1.5 !important;

    &.active {
      background-color: #ffffff !important;
    }

    .remove {
      border: none !important;
      padding: 0px 2px 2px 2px !important;
      margin-left: 5px !important;
      margin-right: 3px !important;
      font-size: 1rem !important;
      line-height: 1rem !important;

      &:hover {
        background-color: #ffffff !important;
      }
    }
  }
}

.selectize-dropdown {
  .create,
  .no-results,
  .optgroup-header,
  .option {
    padding: 6px 0.75rem;
  }
}

.loading-spinner {
  @extend .spinner-border;
  @extend .spinner-border-sm;
  content: " ";
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  z-index: 2;
  opacity: 0;
  animation: none;
  -moz-animation: none;
  -webkit-animation: none;
}

.loading-spinner-visible > .selectize-input::before {
  opacity: 1;
  animation: 1s linear infinite spinner-border;
  -moz-animation: 1s linear infinite spinner-border;
  -webkit-animation: 1s linear infinite spinner-border;
}

.selectize-input.dropdown-active::before {
  left: auto;
}

.selectize-control > .selectize-input::before {
  @extend .loading-spinner;
  display: block;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  margin-top: -0.5rem;
}

.selectize-control.loading {
  @extend .loading-spinner-visible;
}

.selectize-control.multi .selectize-input > div {
  padding: 0.0625rem 0.75rem;
}

.selectize-control.plugin-remove_button .item .remove {
  margin-left: 0.1875rem;
  margin-right: 0.4375rem;
}
